/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// body {
//     font-family: "JetBrains Mono", monospace;
//     font-size: 17px;
//     color: #36395A;
//     background-color: #1f1f1f;
//     height: 100vh;
//     width: 100vw;
//     overflow: hidden;
// }
// *, *::before, *::after {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
// }
i {
    font-size: 25px;
}

#canvas-container {
    /* border:#e3e3e4 1px solid; */
    // position: relative;
    width: 100vw;
    height: 100vh;
}

canvas {
    position: absolute;
    bottom: 5%;
    left: 0;
    // width: 100%;
    // height: auto;
}

video {
    position: absolute;
    width: 100vw;
    height: auto;
}

#media-container {
    display: flex;
    /* height: 100vh;
    width: 100vw; */
}

.hidden_video {
    visibility: hidden;
    position: absolute;
    z-index:-50;
}

#tweeks {
    display: flex;
    position: fixed;
    top: 8vh;
    right: 0;
    flex-direction: column;
    align-items: flex-end !important;
    align-content: space-between;
    vertical-align: middle;
    /* margin: auto 20px; */
    padding: 10px;
    z-index:90;
    pointer-events: none;
}

#video-controls {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    align-items: flex-end !important;
    align-content: space-between;
    vertical-align: middle;
    /* margin: auto 20px; */
    padding: 10px;
    z-index:90;
    pointer-events: none;
}
// los botones de modo , el botón de grabar
button, input + label, #timeline {
    margin: 10px;
    align-items: center;
    appearance: none;
    color: #36395A;
    background-color: #e3e3e4;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #bcbccc 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    /* line-height: 1; */
    list-style: none;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    text-decoration: none;
    transition: transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    padding: auto;
    z-index: 10;
    pointer-events: all;
    -webkit-tap-highlight-color: transparent;
    margin-right: 0;
}
.hide_btns {
    transition: 0.5s;
    visibility: hidden;
}

//modos y grabar checked
input:checked + label, button:active, input[type="file"]:active + label {
    background-color: #666677;
    color: #ffffff;
    box-shadow: 0 15px 45px rgba(24, 249, 140, 0.034);
    transform: translateY(1px);
}

//pero grabar es rojo
input[type="checkbox"]:checked + label {
    color: #ff5e5e;
}

#slider {
    margin: 10px;
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #e3e3e4;
    outline: none;
    z-index: 10;
    pointer-events: all;
}
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border:#36395A 1px solid; */
    background: #89899c;
    cursor: pointer;
}
#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #89899c;
    cursor: pointer;
}
//tiene container
#colorPicker-container {
    margin: 10px;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: solid 2px #ddd;
    border-radius: 50%;
    z-index: 10;
}
#colorPicker {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 60px;
    height: 60px;
    border: none;
    pointer-events: all;
}

.disabled, button:disabled, .disabled:hover {
    visibility: hidden;
    background-color: rgb(73, 63, 63);
    box-shadow: rgba(76, 65, 100, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #2e2e33 0 -3px 0 inset;
    transform:unset;
}

//que no aparezcan como tal (se activan con los divs)
input {
    -webkit-appearance: none
}
input[type="file"] {
    visibility:hidden
}
// no me acuerdo
input:focus-visible {
    outline-offset: unset;
}