ion-content {
    --overflow: hidden;
}

video {
    visibility: hidden; // quizás en ios haya q ponerlo visible y luego ocultarlo
    z-index: -50;
    top: 50%;
    transform: translateY(-50%);
}

canvas {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
    height: auto;
}

#timeline {
    position:relative;
    color: lighten(grey, 25%);
    background-color: lighten(skyblue, 60%);
    grid-area: main;
    padding: 0;
    overflow:none;
    scrollbar-width: none;  /* Firefox */
}

#timeline::-webkit-scrollbar {
    display: none;
}

#timelineNob {
    overflow:none;
    position: absolute;
    right:0;
    height:20px;
    width:300px;
    height:90%;
    justify-content:center;
    align-items:center;
    background: rgb(0,255,248);
    background: linear-gradient(90deg, rgba(0,255,248,1) 0%, rgba(200,255,213,1) 13%, rgba(255,102,102,1) 25%, rgba(241,255,0,1) 37%, rgba(63,255,69,1) 50%, rgba(255,148,148,1) 63%, rgba(161,130,255,1) 75%, rgba(255,249,6,1) 88%, rgba(255,0,185,1) 100%);
}