<!-- <script type="text/javascript" src="assets/js/mediaRecorder.js"></script>
<script type="text/javascript" src="assets/js/lines.js"></script>
<script type="text/javascript" src="aasssets/js/circles.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script> -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Z A A X
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div id="media-container">
		<!-- https://css-tricks.com/what-does-playsinline-mean-in-web-video/ -->
		<video id="video_in" class="hidden_video" controls autoplay muted loop playsinline>
			<source src="assets/video.mp4" type="video/mp4">
		</video>
		<video id="video_out" class="hidden_video" controls autoplay muted loop>
			<!-- <label style="position:absolute;top:200px"> video result </label> -->
		</video>

		<div id="canvas-container">
			<canvas id="output-canvas" class="canvas" style="position:absolute;top:0;left:0"></canvas>
			<canvas id="temp-canvas" class="canvas" style="position:absolute;z-index:5;top:0;left:0;opacity:0"></canvas>
			<canvas id="nodes-canvas" class="canvas" style="position:absolute;z-index:3;top:0;left:0;opacity:0"></canvas>

			<div id="tweeks">
				<input id="slider" type="range" min="2" max="10" step="0.03" value=6>
				<div id="colorPicker-container">
					<input id="colorPicker" type="color" name="head" value="#ffe5e5">
				</div>
				<input id="modoLineas" type="radio" name="modo" (click)="selectMode('lines')" checked>
				<label for="modoLineas" class="radio">
					<i class="fa fa-slash" aria-hidden="true"></i>
				</label>
				<input id="modoPintar" type="radio" name="modo" (click)="selectMode('paint')">
				<label for="modoPintar" class="radio">
					<i class="fa fa-pencil" aria-hidden="true"></i>
				</label>
				<input id="modoCirculos" type="radio" name="modo" (click)="selectMode('circles')">
				<label for="modoCirculos" class="radio">
					<i class="far fa-circle" aria-hidden="true"></i>
				</label>
				<input id="modoGrab" type="radio" name="modo" (click)="modo = 'grab'">
				<!-- <label for="modoGrab" class="radio disabled">
					<i class="fa fa-eraser" aria-hidden="true"></i>
				</label> -->
				<!-- 
				<input id="modoBorrar" type="radio" name="modo" (click)="selectMode('borrar')" disabled>
				<label for="modoBorrar" class="radio disabled">
					<i class="fa fa-eraser" aria-hidden="true"></i>
				</label> -->
				<input id="videoRecord" type="checkbox">
				<label for="videoRecord" class="radio">
					<i class="fa fa-compact-disc" aria-hidden="true"></i>
				</label>
				<button (click)="undo()">
					<i class="fa fa-undo" aria-hidden="true"></i>
				</button>
				
				<button (click)="clearCanvas()">
					<i class="fa fa-trash" aria-hidden="true"></i>
				</button>
				<!-- <div style="width:20px;height:60px;"></div> -->
				<button (click)="next()">
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
				</button>
				<button id="goFS"><i class="fa fa-expand" aria-hidden="true"></i></button>
				<script>
					var goFS = document.getElementById("goFS");
					goFS.addEventListener("click", function() {
						if(document.fullscreenElement)
							document.exitFullscreen()
						else
							document.body.requestFullscreen();
					}, false);
				</script>
			</div>
			<div id="video-controls">
				<button id="playBtn">
					<i class="fa fa-pause" aria-hidden="true"></i>
				</button>
				<button id="speedBtn">
					<i class="fa fa-clock" aria-hidden="true"></i>
				</button>
				<div id="timeline" class="radio" style="width:300px"> | | | </div>
			</div>
		</div>
	</div>

	<!-- <script>
		document.addEventListener("DOMContentLoaded", () => {
			init()
		})
	</script> -->

</ion-content>
